*.aux
*.bbl
*.blg
*.log
*.out
*.toc
.*.swp
*.synctex
*.pdf
*.dvi

/thirdparty/
/lib/
/bin/
Makefile
*/CMakeFiles/
/CMakeFiles/
*.cmake
CMakeCache.txt
out/

*.pptx
*.xlsx
*.sty
*.gz
*.dtx
*.ipynb
./privGraph/*.ipynb

x64/*
.vs/*
*/x64/*
*/.vs/*
*/*.user

log.txt
*/log.txt

*.bin
*.json
.clang-format

*.psess
*.vspx
frontend/My Amplifier Results - frontend/
frontend/My Advisor Results - frontend/

build/

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.o
*.obj
*.a
*.so
*.dylib
*.exe

aby3-BSPN/data/
aby3-GORAM/data/
aby3-GORAM/record/
aby3-GORAM/record_offline/
aby3-GORAM/results/
aby3-GORAM/results_offline/
aby3-GORAM/results_real_world/
